@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";


@font-face {
  font-family: 'LightFont';
  src: url('/fonts/Light.woff2') format('woff2'), 
       url('/fonts/Light.woff') format('woff'),   
       url('/fonts/Light.ttf') format('truetype'), 
       url('/fonts/Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --border: hsl(220, 13%, 91%);
  --input: hsl(220, 13%, 91%);
  --ring: hsl(220, 13%, 91%);
  --background: hsl(30, 20%, 95%);
  --foreground: hsla(0, 0%, 48%);
  --primary: hsla(0, 0%, 48%);
  --primary-foreground: hsl(0, 0%, 100%);
  --primary-custom: hsla(0, 0%, 48%);
  --secondary: hsl(260, 10%, 50%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --secondary-custom: hsl(0, 0%, 94%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --muted: hsl(0, 0%, 50%);
  --muted-foreground: hsl(220, 13%, 35%);
  --accent: hsl(340, 82%, 52%);
  --accent-foreground: hsl(0, 0%, 100%);
  --popover: hsl(220, 13%, 91%);
  --popover-foreground: hsl(220, 13%, 30%);
  --card: hsl(220, 13%, 91%);
  --card-foreground: hsl(0, 0%, 10%);
  --text-primary: hsla(0, 0%, 48%);
  --text-secondary: hsl(0, 0%, 68%);
  --radius: 8px;
  --chart-1: hsl(240, 60%, 50%);
  --chart-2: hsl(210, 60%, 50%);
  --chart-3: hsl(180, 60%, 50%);
  --chart-4: hsl(120, 60%, 50%);
  --chart-5: hsl(60, 60%, 50%);
  --sidebar: hsl(0, 0%, 0%);
  --sidebar-foreground: hsl(0, 0%, 100%);
  --sidebar-primary: hsl(0, 0%, 0%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(0, 0%, 0%);
  --sidebar-accent-foreground: hsl(0, 0%, 100%);
  --sidebar-border: hsl(0, 0%, 50%);
  --sidebar-ring: hsl(0, 0%, 50%);

  --color-bg-image: hsl(30, 20%, 90%);
  --color-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  --color-light: hsl(0, 0%, 86%);
  --color-dark: hsl(0, 0%, 25%);
  --color-white: hsl(0, 0%, 100%);

  --pointer-drag: cursor url('/pointer-drag.svg') 50 50, auto;
  --pointer-primary: cursor url('/pointer-primary.svg') 50 50, auto;
}

/* Estilos base */
@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--text-primary);
    font-family: 'LightFont', sans-serif;
  }

  .pointer-primary,
  .pointer-primary * {
    cursor: url('/pointer-primary.svg') 50 50, auto !important;
  }

  .pointer-drag,
  .pointer-drag * {
    cursor: url('/pointer-drag.svg') 50 50, auto !important;
  }

  .font-light {
    font-family: 'LightFont', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }
}

/* Clases personalizadas */
@layer components {
  /* Aplicar nuevos colores */
  .bg-image {
    background: var(--color-bg-image);
  }

  .text-main {
    color: var(--text-primary);
  }


  .text-muted {
    color: var(--color-muted);
  }

  .text-light {
    color: var(--color-light);
  }

  .text-dark {
    color: var(--color-dark);
  }

  .text-white {
    color: var(--color-white);
  }
}

/* Utilidades personalizadas */
@layer utilities {
  .rounded-lg {
    border-radius: var(--radius);
  }

  .rounded-md {
    border-radius: calc(var(--radius) - 2px);
  }

  .rounded-sm {
    border-radius: calc(var(--radius) - 4px);
  }

  .border-custom {
    border-color: hsl(var(--border));
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-draggable::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .scrollbar-draggable::-webkit-scrollbar {
    display: block;
    height: 2px; /* Grosor mínimo si es horizontal */
  }
  .scrollbar-draggable::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
  }

  .scrollbar-draggable::-webkit-scrollbar-track {
    background: var(--color-light);
  }
}
